body{
    overflow: hidden;
    font-family: "Reddit Mono", monospace;
    font-weight: 300;
}

#sidebar-container{
    min-height: 100vh;
    padding: 0.875rem;
    width: 18rem;
    background-color:black;
}

.fondoconstraste{
    background-color: rgb(3, 10, 47);
}

#logo{
    padding: 1.25rem;
}

#menu{
    width: 18rem;
}

.fondo{
    background-color:rgb(231, 213, 201);
}

.centrartexto {
    text-align: center;
}

.centrar{
    text-align: center;
    justify-content: center;
    align-items: center;
}